:root {
  --vh: 1vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* background-color: #030057; */
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.full-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-height: 10vh;
  width: 90vw;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.full-container .app-title {
  display: flex;
}

.full-container .app-title h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.full-container .app-title img {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

.full-container .app-title img:hover {
  cursor: pointer;
}

.full-container button {
  background-color: #030057;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.full-container button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.full-container button:focus {
  outline: none;
}

.full-container button img {
  height: 1.5rem;
  width: 1.5rem;
}

.chat-container {
  height: 85vh;
  max-height: 85vh;
  width: 90vw;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
}
.Loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
}

.showDetails {
  /* display: none; */
}

@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
    overflow-y: hidden;
    min-width: 100vw;
    width: 100vw;
  }
  .full-container {
    width: 100vw;
  }
  .chat-container {
    height: calc(var(--vh, 1vh) * 90);
    max-height: calc(var(--vh, 1vh) * 90);
    width: 100vw;
  }

  .chat-container.full-h{
    height: calc(var(--vh, 1vh) * 100);
    max-height: calc(var(--vh, 1vh) * 100);
  }
  .chat-container .Loading-container {
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
  }

  .chat-container .Loading-container img{
    height: 10rem;
    width: 10rem;
  }
}
